html,body,div,span,a,ol,ul,li{
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
html, body{
	height:100%;
	min-height: 100%;
	margin:0;
}
body{
	background:#d9d9d9;
	font-family:Arial, Helvetica, sans-serif;
	display: block;
	color:#ffffff;
}
.container{
	background:#d9d9d9;
	border:1px #d9d9d9 solid;
	margin:0 auto;
	width:auto;
	height:auto;
}
.head_container {
	border:1px #e2e2e2 solid;
	margin:0 auto;
	width:699px;
}
.content_container{
	border:1px #e2e2e2 solid;
	margin:0 auto;
	width:1300px;
	box-shadow:-2px 2px 38px #2d2d2d;
	border-radius: 25px;
	height:615px;
}
.content{
	margin:0 auto;
	width:1200px;
	height:540px;
	margin-top:35px;
	background-color:#3c3c3c;
	border-radius:11px;
	box-shadow:-2px 2px 38px #2d2d2d;
}
.content p{
	position:relative;
	left:40px;
	top:45px;
	font-size:0.9em;
}
.title{
	text-align:center;
	padding:15px;
	text-decoration:underline;
}
a {
	color:#366194;
	font-weight:normal;
	text-decoration:none;
}
ol ul{
	list-style:none;
}
li{
	display:list-item;
}
.primary_nav{
	background:#464648;
	clear:both;
	height:42px;
	z-index:8;
	box-shadow:10px 0px 24px #888888;
}
.primary_nav ul li{
	float:left;
	text-align:center;
	list-style:none;
	cursor:pointer;
}
.primary_nav ul li a.main {
	color:#fff;
	display:block;
	font-family:Lucida Sans Unicode;
	font-size:1.1em;
	letter-spacing:1px;
	text-decoration:none;
}
.primary_nav ul li a.main:hover{
	text-shadow: 1px 1px 19px #ffffff;
}
.primary_nav ul li.primary {
	border-right:1px #757575 solid;;
	height:42px;
	line-height:42px;
	text-align:center;
	width:140px;
}
.primary_nav ul li.about, .primary_nav ul li.order, .primary_nav ul li.contact{
	width:140px;
}
ul li.examples{
	width:180px;
}
.primary_nav ul li.home{
	width:135px;
}
.primary_nav ul li.examples {
	border:none;
}
.primary_nav ul li:hover {
	background:#666666;
}
.paypal{
	margin-top:100px;
	margin-left:50px;

}
#but{
	margin-top:100px;
	margin-left:50px;
}
#out{
	margin-top:100px;
	margin-left:50px;
}
#sketches{
	margin-top:100px;
	margin-left:50px;
}
